<footer>
    <div class="container-ft">
        <div class="ft-social-links">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="copyright">&copy;WanderLust, Inc</div>
        <div class="ft-blogs">
            <a href="" class="anchor">Privacy</a>
            <a href="" class="anchor">Terms & Condition</a>
        </div>
    </div>
</footer>