<%- layout("/layouts/boilerplate.ejs") %>


<body>
    <div class="alert alert-danger mt-3" style="width: 100%; text-align: center;" role="alert">
        <%= err.message %>
      </div> 
    <!-- <h1>Error: </h1> -->

</body>
